/* global breakpoints */

$mw: 1690;

/* colors */
$accent-red: #ff3748;
$accent-yellow: #ffe810;
$text-color: #1d1d1b;
$text-color-444: #444444;
$text-color-666: #666666;
$text-color-999: #999999;
$border-green: #23d1ae;
$darken-green: #00a88e;
