.breadcrumbs {
  margin-bottom: 24px;
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__link {
    display: inline-block;
    font-weight: 300;
    color: $text-color-444;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-right: 1.5rem;
  }

  &__icon {
    margin-right: 1.5rem;
  }
}
